body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    padding: 30px 80px;
    box-shadow: 0px 1px 5px #a8a8a8;
    justify-content: space-between;
}
.titulo-principal{
    font-weight: 800;
    font-size: 1.5rem;
}
.pesquisas {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
}
.conteudo-pais-selecionado {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 5;

}
.botao-voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 130px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 80px;
    border: none;
    box-shadow: 1px 1px 15px #c4c4c4;
    font-family: 'Nunito Sans', sans-serif;
    background: #ffffff;
}
.icon-voltar{
    width: 30px;
}
.conteudo-conteudo-pais-selecionado {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 0px 80px;
}
.imagem-bandeira-pais-selecionado {
    width: 500px;
}
.informacoes-pais-selecionado{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}
.informacoes-pais-selecionado h2 {
    grid-column: span 2;
    margin-left: 0px;
}
.informacoes-pais-selecionado span {
    font-weight: 600;
}
.fronteiras {
    grid-column: span 2;
    margin-top: 60px;
}
.input-padrao {
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px;
    padding-left: 20px;
    width: 500px;
    border: none;
    box-shadow: 1px 1px 15px #c4c4c4;
}
.filtro select {
    padding: 15px;
    width: 200px;
    border: none;
}
fieldset {
    font-family: 'Nunito Sans', sans-serif;
    padding-right: 10px;
    box-shadow: 1px 1px 15px #c4c4c4;
}
.conteudo-principal, .conteudo-aleatorio, .conteudo-dinamico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    padding: 0 80px;
    margin-top: 80px; 
}
.cartao-pais {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #c4c4c4;
    padding-bottom: 50px;
}
.cartao-pais:hover {
    transform: scale(1.1);
}
.titulo {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 20px;
}
.cartao-pais p {
    margin-left: 20px;
    line-height: 1.5rem;
}
.cartao-pais span {
    font-weight: 600;
}
.bandeira {
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 150px;
}
.icon-lua, .icon-dark {
    width: 15px;
}
.botao-dark-mode {
    display: flex;
    gap: 5px;
    font-weight: 600;
    color: #585858;
    padding: 5px;
    border: none;
    background-color: #ffffff;
}
.modo-dark-body {
    background: #202d36;
}
.modo-dark-cartao-input-cabecalho {
    background: #2b3743;
    box-shadow: 1px 1px 15px #1b2730;
    color: #ffffff;
}
.modo-dark-botao{
    background: #2b3743;
    color: #ffffff;
}

@media screen and (max-width: 1350px ){
    body{
        align-items: center;
        overflow-x: hidden;
    }
    .conteudo-principal, .conteudo-aleatorio, .conteudo-dinamico {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }
    .cartao-pais{
        width: 300px;
    }
    .bandeira {
        height: 180px;
    }
    .pesquisas {
        flex-direction: column;
        gap: 20px;
        padding: 30px 40px;
    }
    .input-padrao {
        width: 250px;
    }
    .cabecalho{
        width: calc(100% - 40px);
        padding: 30px 20px;
        justify-content: space-around;
    }
    .filtro {
        width: 100px;
    }
    .conteudo-conteudo-pais-selecionado{
        flex-direction: column;
        margin: 0px 20px;
    }
    .bandeira-pais-selecionado{
        width: 90%;
        justify-self: center;
    }
    .imagem-bandeira-pais-selecionado{
        width: 100%;
    }
    .botao-voltar{
        margin-left: 20px;
    }
}




.oculto {
    display: none;
}
